In [ ]:
#ANS:1

In [ ]:
marks = int(input("enter your marks")) 
if marks >= 90:
    print("you will get A Grade")
elif marks > 80 and marks <=90:
    print("you will get B Grade")
elif marks >=60 and marks <=80:
    print("you will get C Grade")
else :
    print("you will get D Grade")

In [ ]:
#ANS:2

In [ ]:
cp = float(input("enter the cost price of bile"))
if cp > 100000 :
    t = 0.15
elif cp > 50000 and cp <= 100000 :
    t = 0.10
elif cp <= 50000 :
    t = 0.05
rt = cp*t
print(rt, "is the road tax to be paid.")

In [7]:
#ANS:3

In [ ]:
city = input("Enter a city")

if city.upper() == "DELHI":

   print("Red Fort")

elif city.upper() == "AGRA":

   print("Taj Mahal")

elif city.upper() == "JAIPUR":

   print("Jal Mahal")

else:

   print("Enter a valid city")

In [ ]:
#ANS:4

In [2]:
count = 0
number = 180
while number > 10:
    # divide number by 3
    number = number / 3
    # increase count
    count = count + 1
print('Total iteration required', count)

Total iteration required 3

In [3]:
#ANS:5

In [ ]:
A While loop in Python allows a part of the code to be executed repeatedly as long as a given condition is true. The While loop in Python is also called a pre-tested loop. It is typically used when the number of iterations is not known.

A Python While loop expression/condition consists of three parts:

In [ ]:
#Python While Loop Example
# program to display numbers from 1 to 5

# initialize the variable
i = 1
n = 5

# while loop from i = 1 to 5
while i <= n:
    print(i)
    i = i + 1

In [ ]:
#ANS:6

In [ ]:
#first patterns

In [3]:
n = int(input("Enter number of rows :"))
 
i = 1
while i <= n :
    j = 1
    while j <= i:
        print("*", end = " ")
        j += 1
    print()
    i += 1

Enter number of rows : 5

*
* *
* * *
* * * *
* * * * *

In [ ]:
#Second patterns

In [4]:
n = int(input('Enter number of rows : '))
 
i = 1
while i <= n :
    j = n
    while j >= i:
        print("*", end = " ")
        j -= 1
    print()
    i += 1

Enter number of rows :  7

* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
#Third patterns

In [5]:
n = int(input('Enter number of rows : '))
 
k = 1
i = 1
while i <= n :
    j = 1
    while j <= i:
        print("{:3d}".format(k), end = " ")
        j += 1
        k += 1
    print()
    i += 1

Enter number of rows :  8

  1
  2   3
  4   5   6
  7   8   9  10
 11  12  13  14  15
 16  17  18  19  20  21
 22  23  24  25  26  27  28
 29  30  31  32  33  34  35  36

In [ ]:
#ANS:7

In [6]:
i = 10
while i > 0:
    print(i)
    i = i - 1

10
9
8
7
6
5
4
3
2
1

In [ ]:
#ANS:8

In [7]:
i = 10
while i > 0:
    print(i)
    i = i - 1

10
9
8
7
6
5
4
3
2
1